<template>
    <v-app>
        <v-container fluid class="pa-0 ma-0">
            <!-- <Link href="/">Home</Link> -->
            <v-row no-gutters>
                <v-col class="col-md-1 d-flex">
                    <v-navigation-drawer
                        class="overflow-y-auto"
                        dark
                        width="100%"
                        height="110%"
                        permanent
                    >
                        <v-list-item>
                            <v-list-item-content>
                                <v-img
                                    src="ad_logo_white.png"
                                    max-height="50"
                                    max-width="100"
                                ></v-img>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list dense nav>
                            <v-list-item link @click="visit('/aroma/narudzbe')">
                                <v-list-item-icon>
                                    <v-icon>mdi-account-key</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>Narudzbe</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>

                            <v-list-item link @click="visit('/chart')">
                                <v-list-item-icon>
                                    <v-icon>mdi-scale</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>
                                        Vage
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                </v-col>
                <v-col class="">
                    <slot />
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import { Link } from "@inertiajs/inertia-vue";

export default {
    components: {
        Link,
        Inertia,
    },

    methods: {
        visit: (url) => {
            Inertia.visit(url, {
                data: { first: true },
            });
        },
    },
};
</script>

<style scoped>
v-list {
}
</style>
