<template>
  <div>
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Narudzba ID:{{ this.currentID }}</span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <!-- <datetime format="DD-MM-YYYY H:i:s" width="300px" v-model="narudzba.NadnevakZaDostavu"></datetime> -->
              <v-datetime-picker
                disabled
                label="Nadnevak"
                v-model="narudzba.Nadnevak"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date1"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>
              <v-datetime-picker
                label="Nadnevak ocekivane dostave"
                v-model="narudzba.NadnevakZaDostavu"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date2"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>
              <!-- <v-datetime-picker
                label="test"
                v-model="narudzba.NadnevakUpdate"
                format="d-M-y H:m"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker> -->
              <v-datetime-picker
                disabled
                v-if="this.user.PravaWEB == 'Admin'"
                label="Nadnevak zakljucavanja"
                v-model="narudzba.NadnevakZakljucano"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date3"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>
              <v-datetime-picker
                label="Nadnevak stvarne dostave"
                v-if="this.user.PravaWEB == 'Admin'"
                v-model="narudzba.Nadnevak_Dostave"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date4"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>

              <v-select
                class="my-2 ma-5 mt-5"
                :items="this.kupci"
                v-if="this.user.PravaWEB == 'Admin'"
                v-model="narudzba.IDWEBKUP"
                label="Kupac"
                item-text="Naziv"
                item-value="ID"
                dense
                v-on:change="nothing"
              ></v-select>
              <v-select
                class="my-2 ma-5 mt-5"
                :items="this.daNe"
                v-model="narudzba.Zakljucano"
                label="Zakljucano"
                item-text="text"
                item-value="id"
                dense
                v-on:change="nothing"
              ></v-select>
            </v-col>
            <v-col>
              <v-text-field
                :value="narudzba.NapomeneNarudzbe"
                @change="(v) => (narudzba.NapomeneNarudzbe = v)"
                label="Napomena narudzbe"
              ></v-text-field>
              <v-text-field
                :value="narudzba.NapomeneDostava"
                @change="(v) => (narudzba.NapomeneDostava = v)"
                label="Napomena dostave"
              ></v-text-field>
              <v-text-field
                disabled
                :value="narudzba.UkupnaKolicina"
                @change="(v) => (narudzba.UkupnaKolicina = v)"
                label="Kolicina"
              ></v-text-field
              ><v-text-field
                disabled
                v-if="this.user.PravaWEB == 'Admin'"
                :value="narudzba.UkupnaTezina"
                @change="(v) => (narudzba.UkupnaTezina = v)"
                label="Tezina"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close"> Odustani </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Spremi </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            class="scroll-y elevation-1"
            :dense="dense"
            :dark="dark"
            height="94vh"
            :headers="headers"
            :items="stavke"
            sort-desc
            sort-by="lastLogin"
            disable-pagination
            hide-default-footer
            fixed-header
            :search="search"
            :loading="loading"
            @click:row="(item, slot) => editStavka(item, slot)"
            item-key="ID"
            :footer-props="{
              showFirstLastPage: true,
              firstIcon: 'mdi-arrow-collapse-left',
              lastIcon: 'mdi-arrow-collapse-right',
              prevIcon: 'mdi-minus',
              nextIcon: 'mdi-plus',
              itemsPerPageOptions: [15, 20, 25, 30, 35, -1],
            }"
          >
            <template v-slot:top v-slot:activator="{ on }">
              <v-toolbar flat dark id="scroll-target">
                <v-toolbar-title>Stavke</v-toolbar-title>
                <!-- <label> {{ session()->get('username') }} </label> -->

                <v-divider inset vertical class="ml-5 mr-3"></v-divider>
                <v-card-title>
                  <v-text-field
                    :value="search"
                    @change="(v) => (search = v)"
                    append-icon="mdi-magnify"
                    label="Pretraga"
                    hide-details
                  ></v-text-field>
                </v-card-title>

                <v-spacer></v-spacer>

                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-on:click="openNovaStavka"
                >
                  <v-icon class="mr-2"> mdi-account-multiple-plus </v-icon>
                  Nova stavka
                </v-btn>
                <!-- <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-on:click="openAddRoles"
                    >
                        <v-icon class="mr-2"> mdi-playlist-plus </v-icon>
                        Nova uloga/pravo
                    </v-btn> -->
              </v-toolbar>

              <!-- <v-btn v-scroll="onScroll" v-show="fab" fab dark fixed bottom right color="primary"
                            @click="toTop">
                            <v-icon>mdi-arrow-up-bold</v-icon>
                        </v-btn>  -->

              <!-- New user dialog -->
            </template>

            <!-- <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-4" @click="editNarudzba(item)">
                mdi-account-key
              </v-icon>
              <v-icon small class="mr-4" @click="editUser(item)">
                mdi-account-cog
              </v-icon>
            </template> -->
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-card-text>

        <v-card-actions>
          <!-- <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="close"> Odustani </v-btn>
          <v-btn color="blue darken-1" text @click="save"> Spremi </v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
    <stavka-modal ref="dialog" :currentID="editedItem.ID"></stavka-modal>
  </div>
</template>

<script>
import axios from "axios";
import StavkaModal from "./StavkaModal.vue";
import datetime from "vuejs-datetimepicker";

export default {
  props: {
    currentID: null,
    data: null,
    user: {},
  },
  components: { StavkaModal, datetime },

  data: function () {
    return {
      alertShow: false,
      alertMessage: "poruka",
      alertType: "success",
      narudzba: {},
      stavke: [],
      daNe: [
        { id: 0, text: "Ne" },
        { id: 1, text: "Da" },
      ],
      kupci: [],

      dialog: null,
      height: 400,
      alertShow: false,
      alertMessage: "poruka",
      alertType: "success",
      newCheckbox: "",
      loading: false,
      search: "",
      dark: false,
      dense: false,
      fab: true,
      expanded: [],
      headers: [
        {
          text: "ID",
          align: "start",
          value: "ID",
          width: 50,
          divider: true,
          filterable: true,
        },
        {
          text: "Nadnevak",
          value: "Nadnevak",
          width: 200,
          divider: true,
          filterable: false,
          //     sort: (a, b) => {
          //         let first = a.split("/");
          //         let second = b.split("/");
          //         a = new Date(first[2], first[1], first[0]);
          //         b = new Date(second[2], second[1], second[0]);
          //         return a - b;
          //     },
        },
        {
          text: "Opis",
          value: "roba.OPIS",
          width: 150,
          divider: true,
          sortable: false,
          filterable: false,
        },
        {
          text: "Količina",
          value: "Kolicina",
          width: 150,
          divider: true,
          sortable: false,
          filterable: false,
        },
        {
          text: "Težina",
          value: "Tezina",
          width: 200,
          divider: true,
          sortable: false,
          filterable: false,
        },

        {
          text: "",
          value: "actions",
          sortable: false,
          width: 200,
          divider: true,
          filterable: false,
        },
      ],
      editedItem: {
        ID: "",
      },
    };
  },
  computed: {
    dialogComp() {
      return this.dialog;
    },
  },

  methods: {
    showAlert(message, type) {
      this.alertMessage = message;
      this.alertType = type;
      this.alertShow = true;
      setTimeout(() => {
        this.alertShow = false;
      }, 3000);
    },

    selectFridge: function (e) {
      this.selectedFridge = e;
      this.getFridgePots(e);
    },
    getAllData: function () {
      axios
        .post("/aroma/getAllData", {
          id: this.currentID,
        })
        .then((res) => {
          this.narudzba = res.data.narudzba;
          this.stavke = res.data.stavke;
          this.kupci = res.data.kupci;
          console.log(res.data);
          this.$nextTick(() => {
            // if (
            //   this.narudzba.Nadnevak_Dostave == null ||
            //   this.narudzba.Nadnevak_Dostave == null ||
            //   this.narudzba.Nadnevak_Dostave == null
            // )
            //   this.flushDates();
          });
        });
    },
    flushDates() {
      console.log("flushing dates");

      this.$nextTick(() => {
        this.narudzba.Nadnevak_Dostave = null;
        this.narudzba.NadnevakZakljucano = null;
        this.narudzba.NadnevakZaDostavu = null;
        this.narudzba.NadnevakDostava = null;
        this.$refs["date1"].clearHandler();
        this.$refs["date2"].clearHandler();
        this.$refs["date3"].clearHandler();
        this.$refs["date4"].clearHandler();
      });
    },
    onOpen() {
      this.dialog = true;
      console.log("opened id: " + this.currentID);
      this.narudzba = {};
      this.narudzba.NadnevakZaDostavu = null;
      this.flushDates();
      this.getAllData();
    },
    closeDialog() {},
    close() {},
    save() {
      console.log(this.narudzba);
      axios
        .post("/aroma/narudzba/edit", {
          narudzba: this.narudzba,
        })
        .then((res) => {
          this.flushDates();
          this.narudzba = res.data.narudzba;

          console.log(res.data);
        });
    },
    nothing() {},
    editStavka(item, slot) {
      this.editedItem.ID = item.ID;

      this.$nextTick(() => {
        this.$refs.dialog.onOpen();
      });
      console.log(item.ID);
    },
    openNovaStavka() {
      axios
        .post("/aroma/stavka/new", {
          idNarudzbe: this.currentID,
        })
        .then((res) => {
          this.editedItem.ID = res.data.stavka.id;
          this.$nextTick(() => {
            this.$refs.dialog.onOpen();
          });
          console.log(res.data);
        });
    },
    initialize() {},
  },
};
</script>
