<template>
  <div>
    <v-alert
      style="
        position: fixed;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, -50%);
        margin: 0 auto;
      "
      :value="alertShow"
      elevation="8"
      :type="alertType"
      transition="scale-transition"
      shaped
      dense
      width="300"
    >
      {{ alertMessage }}
    </v-alert>

    <v-data-table
      class="scroll-y elevation-1"
      :dense="dense"
      :dark="dark"
      height="94vh"
      :headers="headers"
      :items="narudzbe"
      sort-desc
      sort-by="lastLogin"
      disable-pagination
      hide-default-footer
      fixed-header
      :search="search"
      :loading="loading"
      item-key="ID"
      :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
        prevIcon: 'mdi-minus',
        nextIcon: 'mdi-plus',
        itemsPerPageOptions: [15, 20, 25, 30, 35, -1],
      }"
    >
      <template v-slot:top v-slot:activator="{ on }">
        <v-toolbar flat dark id="scroll-target">
          <v-toolbar-title>Narudzbe</v-toolbar-title>
          <!-- <label> {{ session()->get('username') }} </label> -->

          <v-divider inset vertical class="ml-5 mr-3"></v-divider>
          <v-card-title>
            <v-text-field
              :value="search"
              @change="(v) => (search = v)"
              append-icon="mdi-magnify"
              label="Pretraga"
              hide-details
            ></v-text-field>
          </v-card-title>
          <!-- <input
            class="mr-1"
            type="checkbox"
            v-model="dark"
            v-on:change="darkDenseChanged"
          />
          <label>Mračni način</label>
          <input
            class="ml-5 mr-1"
            type="checkbox"
            v-model="dense"
            v-on:change="darkDenseChanged"
          />
          <label>Kompaktna tablica</label> -->
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            dark
            class="mb-2"
            v-on:click="openNovaNarudzba"
          >
            <v-icon class="mr-2"> mdi-account-multiple-plus </v-icon>
            Nova narudzba
          </v-btn>
          <v-divider inset vertical class="ml-2 mr-2"></v-divider>
          <!-- <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-on:click="openAddRoles"
                    >
                        <v-icon class="mr-2"> mdi-playlist-plus </v-icon>
                        Nova uloga/pravo
                    </v-btn> -->
          <v-divider inset vertical class="ml-2 mr-2"></v-divider>
          <v-btn color="secondary" dark class="mb-2" v-on:click="logout">
            <v-icon class="mr-2"> mdi-logout </v-icon>
            Odjava
          </v-btn>
        </v-toolbar>

        <!-- <v-btn v-scroll="onScroll" v-show="fab" fab dark fixed bottom right color="primary"
                            @click="toTop">
                            <v-icon>mdi-arrow-up-bold</v-icon>
                        </v-btn>  -->

        <!-- New user dialog -->
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-4" @click="editNarudzba(item)">
          mdi-account-key
        </v-icon>
        <v-icon small class="mr-4" @click="editProizvodnja(item)">
          mdi-account-cog
        </v-icon>
      </template>
      <template v-slot:item.actionsOperater="{ item }">
        <v-icon small class="mr-4" @click="editNarudzba(item)">
          mdi-account-key
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
    <narudzba-modal
      :user="this.user"
      ref="dialog"
      :currentID="this.editedItem.ID"
    >
    </narudzba-modal>
    <proizvodnja-modal
      :user="this.user"
      ref="dialogProizvodnja"
      :currentID="this.editedItem.ID"
    ></proizvodnja-modal>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import Layout from "./Layout";
import NarudzbaModal from "./NarudzbaModal.vue";
import ProizvodnjaModal from "./ProizvodnjaModal.vue";

export default {
  layout: Layout,
  components: { NarudzbaModal, ProizvodnjaModal },
  data: () => ({
    height: 1000,
    alertShow: false,
    alertMessage: "poruka",
    alertType: "success",
    newCheckbox: "",
    loading: false,
    search: "",
    dark: false,
    dense: false,
    fab: true,
    expanded: [],
    editedItem: {
      ID: "",
    },
  }),

  created() {},

  props: {
    narudzbe: Array,
    newID: Number,
    user: {},
  },
  computed: {
    headers() {
      const headers = [
        {
          text: "ID",
          align: "start",
          value: "ID",
          width: 50,
          divider: true,
          filterable: true,
        },
        {
          text: "Nadnevak",
          value: "Nadnevak",
          width: 200,
          divider: true,
          filterable: false,
          //     sort: (a, b) => {
          //         let first = a.split("/");
          //         let second = b.split("/");
          //         a = new Date(first[2], first[1], first[0]);
          //         b = new Date(second[2], second[1], second[0]);
          //         return a - b;
          //     },
        },

        {
          text: "Kupac",
          value: "kupac.Naziv",
          width: 200,
          divider: true,
          sortable: false,
          filterable: false,
        },
        {
          text: "Zakljucano",
          value: "Zakljucano",
          width: 100,
          divider: true,
          sortable: false,
          filterable: false,
        },
        {
          text: "Broj stavaka",
          value: "BrojStavaka",
          width: 100,
          divider: true,
          sortable: false,
          filterable: false,
        },

        {
          text: "Nadnevak stvarne dostave",
          value: "Nadnevak_Dostave",
          width: 200,
          divider: true,
          filterable: false,
        },
        {
          text: "Nadnevak zakljucavanja",
          value: "NadnevakZakljucano",
          width: 200,
          divider: true,
          filterable: false,
        },
      ];
      if (this.user.PravaWEB == "Admin") {
        headers.push({
          text: "Nadnevak ocek. dostave",
          value: "NadnevakZaDostavu",
          width: 200,
          divider: true,
          filterable: false,
        });
        headers.push({
          text: "Napomene Dostava",
          value: "NapomeneDostava",
          width: 200,
          divider: true,
          filterable: false,
        });
        headers.push({
          text: "",
          value: "actions",
          sortable: false,
          width: 200,
          divider: true,
          filterable: false,
        });
      } else {
        headers.push({
          text: "",
          value: "actionsOperater",
          sortable: false,
          width: 200,
          divider: true,
          filterable: false,
        });
      }
      return headers;
    },
  },

  methods: {
    openNovaNarudzba: function (e) {
      console.log(e);
      Inertia.reload({
        only: ["newID"],
        replace: false,
        data: {
          first: false,
        },

        preserveState: true,
        onSuccess: (page) => {
          console.log("asdasdasdasd");
          console.log(this.newID);
          this.editedItem.ID = this.newID;
          this.$nextTick(() => {
            this.$refs.dialog.onOpen();
          });
        },
      });
    },

    editNarudzba: function (item) {
      this.editedItem.ID = item.ID;

      this.$nextTick(() => {
        this.$refs.dialog.onOpen();
      });
      console.log(item.ID);
    },
    editProizvodnja: function (item) {
      this.editedItem.ID = item.ID;

      this.$nextTick(() => {
        this.$refs.dialogProizvodnja.onOpen();
      });
      console.log(item.ID);
    },
    logout() {
      console.log(this.user);
    },
  },
};
</script>
