<template>
  <div>
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <span class="text-h5"
            >Proizvodnja narudzbe ID:{{ this.currentID }}</span
          >
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <!-- <datetime format="DD-MM-YYYY H:i:s" width="300px" v-model="narudzba.NadnevakZaDostavu"></datetime> -->
              <v-datetime-picker
                label="Nadnevak proizvodnje"
                v-model="narudzba.NadnevakProizvodnje"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date1"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>
              <v-datetime-picker
                disabled
                label="Nadnevak zakljucavanja"
                v-model="narudzba.NadnevakZakljucanoProizvodnja"
                dateFormat="dd-MM-yyyy"
                timeFormat="HH:mm:ss"
                ref="date2"
              >
                <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
                <v-icon slot="timeIcon">mdi-clock</v-icon>
              </v-datetime-picker>

              <v-select
                class="my-2 ma-5 mt-5"
                :items="this.daNe"
                v-model="narudzba.ZakljucanoProizvodnja"
                label="Zakljucano"
                item-text="text"
                item-value="id"
                dense
                v-on:change="nothing"
              ></v-select>
            </v-col>
            <v-col>
              <v-text-field
                :value="narudzba.NapomeneProizvodnja"
                @change="(v) => (narudzba.NapomeneProizvodnja = v)"
                label="Napomena proizvodnje"
              ></v-text-field>
              <v-spacer></v-spacer>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="close"> Odustani </v-btn>
          <v-btn color="blue darken-1" text @click="save"> Spremi </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
import datetime from "vuejs-datetimepicker";

export default {
  props: {
    currentID: null,
    data: null,
    user: {},
  },
  components: { datetime },

  data: function () {
    return {
      alertShow: false,
      alertMessage: "poruka",
      alertType: "success",
      narudzba: {},
      daNe: [
        { id: 0, text: "Ne" },
        { id: 1, text: "Da" },
      ],

      dialog: null,
      alertShow: false,
      alertMessage: "poruka",
      alertType: "success",

      editedItem: {
        ID: "",
      },
    };
  },
  computed: {},

  methods: {
    showAlert(message, type) {
      this.alertMessage = message;
      this.alertType = type;
      this.alertShow = true;
      setTimeout(() => {
        this.alertShow = false;
      }, 3000);
    },

    getAllData: function () {
      axios
        .post("/aroma/getAllData", {
          id: this.currentID,
        })
        .then((res) => {
          this.narudzba = res.data.narudzba;
          console.log(res.data);
        });
    },
    flushDates() {
      console.log("flushing dates");

      this.$nextTick(() => {
        this.$refs["date1"].clearHandler();
        this.$refs["date2"].clearHandler();
      });
    },
    onOpen() {
      this.dialog = true;
      console.log("opened id: " + this.currentID);
      this.narudzba = {};
      this.narudzba.NadnevakZaDostavu = null;
      this.flushDates();
      this.getAllData();
    },
    closeDialog() {},
    close() {},
    save() {
      console.log(this.narudzba);
      axios
        .post("/aroma/proizvodnja/edit", {
          narudzba: this.narudzba,
        })
        .then((res) => {
          //this.flushDates();
          this.$nextTick(() => {
            this.narudzba = res.data.narudzba;
            console.log(res.data);
          });
        });
    },
    nothing() {},
    initialize() {},
  },
};
</script>
