<template>
  <div>
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Stavka id: {{ this.stavka.ID }}</span>
        </v-card-title>
        <v-card-text>
          <v-select
            class="my-2 ma-5 mt-5"
            :items="this.robe"
            v-model="stavka.IDWEB_ROBE"
            label="Roba"
            item-text="SkraceniOPIS"
            item-value="ID"
            dense
            v-on:change="nothing"
          ></v-select>
          <v-text-field
            :value="stavka.Kolicina"
            @change="(v) => (stavka.Kolicina = v)"
            label="Kolicina"
          ></v-text-field>
          <v-text-field
            :value="stavka.Napomene"
            @change="(v) => (stavka.Napomene = v)"
            label="Napomene"
          ></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="close"> Odustani </v-btn>
          <v-btn color="blue darken-1" text v-on:click="save"> Spremi </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: {
    currentID: null,
    data: null,
  },

  data: function () {
    return {
      alertShow: false,
      alertMessage: "poruka",
      alertType: "success",
      stavka: {},
      robe: [],
      dialog: false,
      test: {},
    };
  },
  computed: {},

  methods: {
    showAlert(message, type) {
      this.alertMessage = message;
      this.alertType = type;
      this.alertShow = true;
      setTimeout(() => {
        this.alertShow = false;
      }, 3000);
    },

    getAllData() {
      axios
        .post("/aroma/stavka/get", {
          id: this.currentID,
        })
        .then((res) => {
          this.stavka = res.data.stavka;
          this.robe = res.data.robe;
          console.log(res.data);
        });
    },
    onOpen() {
      this.dialog = true;
      console.log("opened id: " + this.currentID);
      //fetch currentNarudzbaData
      //show it
      this.getAllData();
    },
    closeDialog() {},
    close() {},
    save: function () {
      console.log(this.stavka.ID);
      axios
        .post("/aroma/stavka/edit", {
          stavka: this.stavka,
        })
        .then((res) => {
          console.log(res.data);
          this.stavka = res.data.stavka;
          this.$parent.getAllData();
          this.dialog = false;
        });
    },
    nothing() {},
  },
};
</script>
