<template>
    <div>
        <apexchart
            width="1300"
            type="line"
            :options="optionsProp"
            :series="seriesProp"
        >
        </apexchart>
    </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
    props: ["optionsProp", "seriesProp"],
    data: function () {
        return {};
    },
};
</script>
