<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            must-sort
        ></v-data-table>
    </div>
</template>

<script>
export default {
    props: ["items"],

    data: function () {
        return {
            headers: [
                { text: "ID banjice", value: "pot_id" },
                {
                    text: "Okus",
                    align: "start",
                    value: "flavor",
                },
                { text: "Vrijeme", value: "created_at" },
                { text: "Težina (g)", value: "weight" },
            ],
        };
    },

    methods: {},
};
</script>
