<template>
    <div>
        <v-alert
            style="
                position: fixed;
                left: 50%;
                bottom: 50px;
                transform: translate(-50%, -50%);
                margin: 0 auto;
            "
            :value="alertShow"
            elevation="8"
            :type="alertType"
            transition="scale-transition"
            shaped
            dense
            width="300"
        >
            {{ alertMessage }}
        </v-alert>

        <v-data-table
            class="scroll-y elevation-1"
            :dense="dense"
            :dark="dark"
            height="94vh"
            :headers="headers"
            :items="users"
            sort-desc
            sort-by="lastLogin"
            disable-pagination
            hide-default-footer
            fixed-header
            :search="search"
            :loading="loading"
            @click:row="(item, slot) => rowClick(item, slot)"
            item-key="IdUsertest"
            :footer-props="{
                showFirstLastPage: true,
                firstIcon: 'mdi-arrow-collapse-left',
                lastIcon: 'mdi-arrow-collapse-right',
                prevIcon: 'mdi-minus',
                nextIcon: 'mdi-plus',
                itemsPerPageOptions: [15, 20, 25, 30, 35, -1],
            }"
        >
            <template v-slot:top v-slot:activator="{ on }">
                <v-toolbar flat dark id="scroll-target">
                    <v-toolbar-title>Korisnička prava</v-toolbar-title>
                    <!-- <label> {{ session()->get('username') }} </label> -->

                    <v-divider inset vertical class="ml-5 mr-3"></v-divider>
                    <v-card-title>
                        <v-text-field
                            :value="search"
                            @change="(v) => (search = v)"
                            append-icon="mdi-magnify"
                            label="Pretraga po imenu"
                            hide-details
                        ></v-text-field>
                    </v-card-title>
                    <input
                        class="mr-1"
                        type="checkbox"
                        v-model="dark"
                        v-on:change="darkDenseChanged"
                    />
                    <label>Mračni način</label>
                    <input
                        class="ml-5 mr-1"
                        type="checkbox"
                        v-model="dense"
                        v-on:change="darkDenseChanged"
                    />
                    <label>Kompaktna tablica</label>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-on:click="openAddUser"
                    >
                        <v-icon class="mr-2">
                            mdi-account-multiple-plus
                        </v-icon>
                        Novi korisnik
                    </v-btn>
                    <v-divider inset vertical class="ml-2 mr-2"></v-divider>
                    <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-on:click="openAddRoles"
                    >
                        <v-icon class="mr-2"> mdi-playlist-plus </v-icon>
                        Nova uloga/pravo
                    </v-btn>
                    <v-divider inset vertical class="ml-2 mr-2"></v-divider>
                    <v-btn
                        color="secondary"
                        dark
                        class="mb-2"
                        v-on:click="logout"
                    >
                        <v-icon class="mr-2"> mdi-logout </v-icon>
                        Odjava
                    </v-btn>
                </v-toolbar>

                <!-- <v-btn v-scroll="onScroll" v-show="fab" fab dark fixed bottom right color="primary"
                            @click="toTop">
                            <v-icon>mdi-arrow-up-bold</v-icon>
                        </v-btn>  -->

                <!-- New user dialog -->
                <v-dialog v-model="dialog" max-width="500px">
                    <!-- <template v-slot:activator="{ on, attrs }">
                            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on:click="openAddUser">
                                Novi korisnik
                            </v-btn>
                            <v-divider inset vertical class="ml-2 mr-2"></v-divider>
                            <v-btn color="primary" dark class="mb-2" v-on:click="openAddRoles">
                                Nova uloga/pravo
                            </v-btn>
                        </template>  -->
                    <v-card>
                        <v-card-title>
                            <span class="text-h5">Novi korisnik</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.username"
                                            @change="
                                                (v) => (editedItem.username = v)
                                            "
                                            label="Ime i prezime"
                                        >
                                        </v-text-field>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.imeRacun"
                                            @change="
                                                (v) => (editedItem.imeRacun = v)
                                            "
                                            label="Ime na računu"
                                        >
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.OIB"
                                            @change="
                                                (v) => (editedItem.OIB = v)
                                            "
                                            label="OIB"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red darken-1" text @click="close">
                                Odustani
                            </v-btn>
                            <v-btn color="blue darken-1" text @click="save">
                                Spremi
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- Edit user dialog  -->
                <v-dialog v-model="dialogEditUser" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <span class="text-h5"
                                >Izmjena korisničkih podataka</span
                            >
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.username"
                                            @change="
                                                (v) => (editedItem.username = v)
                                            "
                                            label="Ime i prezime"
                                        >
                                        </v-text-field>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.imeRacun"
                                            @change="
                                                (v) => (editedItem.imeRacun = v)
                                            "
                                            label="Ime na računu"
                                        >
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="editedItem.OIB"
                                            @change="
                                                (v) => (editedItem.OIB = v)
                                            "
                                            label="OIB"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field
                                            :value="tmpPassword"
                                            @change="(v) => (tmpPassword = v)"
                                            label="Šifra"
                                        >
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="grey darken-1"
                                text
                                @click="generateNewPassword"
                            >
                                Generiraj novu šifru
                            </v-btn>
                            <v-btn
                                color="red darken-1"
                                text
                                @click="closeEditUser"
                            >
                                Odustani
                            </v-btn>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="saveEditUser"
                            >
                                Spremi
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- Add roles dialog  -->

                <v-dialog v-model="dialogAddRole" max-width="600px">
                    <v-card>
                        <v-card-title text-center>
                            <span class="text-h5">Dodavanje uloge/prava</span>
                        </v-card-title>
                        <v-container class="pa-10">
                            <v-row>
                                <v-col cols="12" sm="12" md="12">
                                    <v-text-field
                                        :value="newRole"
                                        @change="(v) => (newRole = v)"
                                        label="Naziv uloge/prava"
                                    >
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="red darken-1"
                                text
                                @click="closeAddRoles"
                            >
                                Odustani
                            </v-btn>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="saveAddRoles"
                            >
                                Spremi
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- User roles dialog  -->

                <v-dialog v-model="dialogRoles" max-width="700px">
                    <v-card>
                        <v-card-title text-center>
                            <span class="text-h5">Izmjena uloga/prava</span>
                        </v-card-title>
                        <hr />
                        <v-container fill-height class="pa-10">
                            <v-row>
                                <v-col
                                    align-self="center"
                                    v-for="(item, index) in editedItem.roles"
                                    v-bind:key="index"
                                    cols="12"
                                    xs="12"
                                    sm="6"
                                    md="4"
                                >
                                    <label>
                                        <input
                                            type="checkbox"
                                            v-model="
                                                editedItem.roles[index].userId
                                            "
                                        />
                                        {{ item.roleName }}
                                    </label>
                                </v-col>

                                <!-- {{-- <v-col v-for="(item, index) in editedItem.roles">

                                            <v-checkbox dense v-bind:key="index"
                                                v-model="editedItem.roles[index].userId" :label="item.roleName">
                                        </v-col> --}} -->
                            </v-row>
                        </v-container>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="red darken-1"
                                text
                                @click="closeRoles"
                            >
                                Odustani
                            </v-btn>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="saveRoles"
                            >
                                Spremi
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-4" @click="editRoles(item)">
                    mdi-account-key
                </v-icon>
                <v-icon small class="mr-4" @click="editUser(item)">
                    mdi-account-cog
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
import Layout from "./Layout";

export default {
    layout: Layout,
    data: () => ({
        height: 1000,
        dialogRoles: false,
        dialogAddRole: false,
        dialog: false,
        dialogEditUser: false,
        alertShow: false,
        alertMessage: "poruka",
        alertType: "success",
        newCheckbox: "",
        newRole: "",
        tmpIdUserTest: "",
        loading: false,
        tmpPassword: "",
        search: "",
        dark: false,
        dense: false,
        fab: true,
        expanded: [],
        headers: [
            {
                text: "Ime i prezime",
                align: "start",
                value: "username",
                width: 200,
                divider: true,
                filterable: true,
            },
            {
                text: "Šifra",
                value: "fakePassword",
                width: 150,
                divider: true,
                sortable: false,
                filterable: false,
            },
            {
                text: "Ime na računu",
                value: "imeRacun",
                width: 150,
                divider: true,
                sortable: false,
                filterable: false,
            },
            {
                text: "OIB",
                value: "OIB",
                width: 200,
                divider: true,
                sortable: false,
                filterable: false,
            },
            {
                text: "Operater ID",
                value: "IdOperateri",
                width: 200,
                divider: true,
                sortable: false,
                filterable: false,
            },
            {
                text: "User ID",
                value: "idUsertest",
                width: 200,
                divider: true,
                sortable: false,
                filterable: false,
            },
            {
                text: "Zadnji login",
                value: "lastLogin",
                width: 200,
                divider: true,
                filterable: false,
                sort: (a, b) => {
                    let first = a.split("/");
                    let second = b.split("/");
                    a = new Date(first[2], first[1], first[0]);
                    b = new Date(second[2], second[1], second[0]);
                    return a - b;
                },
            },
            {
                text: "",
                value: "actions",
                sortable: false,
                width: 200,
                divider: true,
                filterable: false,
            },
        ],
        users: [],
        editedItem: {
            OIB: "",
            username: "",
            imeRacun: "",
            password: "",
            fakePassword: "",
            idUsertest: -1,
            IdOperateri: -1,
            lastLogin: "",
            roles: [],
        },
        // defaultItem: {
        //     username: "",
        //     imeRacun: "",
        //     password: "",
        //     idUsertest: -1,
        //     IdOperateri: -1,
        //     lastLogin: "",
        //     roles: [],
        //     // OIB: '',
        //     // username: '',
        //     // password:'',
        //     // imeRacun: '',
        //     // lastLogin: '',
        // },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "New Item" : "Edit Item";
        },
    },

    watch: {
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        },
        dialogRoles(val) {
            val || this.closeRoles();
        },
        dialogEditUser(val) {
            val || this.close();
        },
    },

    created() {
        this.initialize();
    },

    methods: {
        initialize() {
            this.loading = true;
            axios
                .get("/getUsers")
                .then((response) => {
                    response.data.forEach((element) => {
                        element.fakePassword = "********";
                    });
                    this.users = response.data;
                    this.loading = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
            this.dark = localStorage.getItem("dark") == "true" ? true : false;
            this.dense = localStorage.getItem("dense") == "true" ? true : false;
        },

        refreshUsers() {
            this.loading = true;
            axios
                .get("/getUsers")
                .then((response) => {
                    response.data.forEach((element) => {
                        element.fakePassword = "********";
                    });
                    this.users = response.data;
                    this.loading = false;
                    console.log("reset");
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        editRoles(item) {
            this.loading = true;
            Object.assign(this.editedItem, item);

            axios
                .post("/userRoles", {
                    userId: item.idUsertest,
                })
                .then((response) => {
                    this.editedItem.roles = response.data;
                    this.dialogRoles = true;
                    this.loading = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        editRolesAfterUserAdd() {
            this.loading = true;
            axios
                .post("/userRoles", {
                    userId: this.tmpIdUserTest,
                })
                .then((response) => {
                    this.editedItem.roles = response.data;
                    this.dialogRoles = true;
                    this.editedItem.idUsertest = this.tmpIdUserTest;
                    this.loading = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        close() {
            this.dialog = false;
            this.dialogRoles = false;
            this.dialogAddRole = false;
            this.dialogEditUser = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            });
            this.refreshUsers();
        },
        closeRoles() {
            this.close();
        },

        showAlert(message, type) {
            this.alertMessage = message;
            this.alertType = type;
            this.alertShow = true;
            setTimeout(() => {
                this.alertShow = false;
            }, 3000);
        },

        openAddRoles() {
            this.dialogAddRole = true;
        },
        closeAddRoles() {
            this.dialogAddRole = false;
        },

        openAddUser() {
            this.dialog = true;
        },

        //---------------------------------------Save functions---------------------------------------------

        save() {
            this.loading = true;
            axios
                .post("/addUser", {
                    username: this.editedItem.username,
                    OIB: this.editedItem.OIB,
                    imeRacun: this.editedItem.imeRacun,
                })
                .then((response) => {
                    if (response.status == 200) {
                        this.showAlert(response.data[0], "success");
                        this.close();
                        this.refreshUsers();
                        this.tmpIdUserTest = response.data[1];
                        this.$nextTick(() => {
                            this.editRolesAfterUserAdd();
                            this.loading = false;
                        });
                    } else if (response.status == 204) {
                        this.showAlert("Morate unjeti ime korisnika", "error");
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    this.refreshUsers();
                });
        },
        saveRoles() {
            this.loading = true;
            axios
                .post("/updateRoles", {
                    roles: this.editedItem.roles,
                    userId: this.editedItem.idUsertest,
                })
                .then((response) => {
                    console.log(response);
                    this.showAlert(response.data, "success");
                    this.close();
                    this.loading = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        saveAddRoles() {
            this.loading = true;
            axios
                .post("/addRole", {
                    roleName: this.newRole,
                })
                .then((response) => {
                    if (response.status == 200) {
                        console.log(response);
                        this.showAlert(response.data, "success");
                        this.close();
                        this.loading = false;
                    } else if (response.status == 204) {
                        this.showAlert(
                            "Morate unjeti ime uloge/prava",
                            "error"
                        );
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        closeEditUser(item) {
            this.close();
        },
        saveEditUser(item) {
            this.loading = true;
            axios
                .post("/editUser", {
                    idUsertest: this.editedItem.idUsertest,
                    idOperater: this.editedItem.IdOperateri,
                    OIB: this.editedItem.OIB,
                    imeRacun: this.editedItem.imeRacun,
                    username: this.editedItem.username,
                })
                .then((response) => {
                    console.log(response);
                    this.refreshUsers();
                    this.close();
                    this.showAlert("Korisnički podaci izmjenjeni", "success");
                    this.loading = false;
                })
                .catch(function (error) {
                    this.showAlert(error, "error");
                    console.log(error);
                    this.refreshUsers();
                });
        },
        editUser(item) {
            this.editedItem = item;
            this.tmpPassword = item.password;
            this.dialogEditUser = true;
        },

        generateNewPassword() {
            this.loading = true;
            axios
                .post("/newPassword", {
                    idOperater: this.editedItem.IdOperateri,
                    idUsertest: this.editedItem.idUsertest,
                })
                .then((response) => {
                    if (response.status == 200) {
                        this.showAlert(
                            "Šifra izmjenjena: " + response.data.Sifra,
                            "success"
                        );
                        this.tmpPassword = response.data.Sifra;
                        this.refreshUsers();
                        this.loading = false;
                    } else if (response.status == 204) {
                        this.showAlert("Server error", "error");
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    this.refreshUsers();
                });
        },
        logout() {
            this.loading = true;
            axios
                .get("/logout")
                .then((response) => {
                    location.reload();
                })
                .catch(function (error) {
                    location.reload();
                });
        },
        darkDenseChanged() {
            console.log("sadsad");
            localStorage.setItem("dark", this.dark);
            localStorage.setItem("dense", this.dense);
        },
        // onScroll(e) {
        //     if (typeof window === "undefined") return;
        //     const top = window.pageYOffset || e.target.scrollTop || 0;
        //     this.fab = top > 20;
        // },
        toTop() {
            this.$vuetify.goTo(0);
        },

        rowClick(item, slot) {
            item.fakePassword =
                item.password == item.fakePassword ? "********" : item.password;
        },
    },
};
</script>
