<template>
    <div>
        <v-dialog v-model="dialog" scrollable max-width="700px">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="secondary" dark v-bind="attrs" v-on="on">
                    Postavke
                </v-btn>
            </template>
            <v-card>
                <v-alert
                    style="
                        position: fixed;
                        left: 50%;
                        bottom: 50px;
                        transform: translate(-50%, -50%);
                        margin: 0 auto;
                    "
                    :value="alertShow"
                    elevation="8"
                    :type="alertType"
                    transition="scale-transition"
                    shaped
                    dense
                    width="300"
                >
                    {{ alertMessage }}
                </v-alert>
                <v-card-title>Postavke banjica</v-card-title>
                <v-divider></v-divider>
                <v-card-text style="height: 500px">
                    <v-select
                        class="my-2 mt-5"
                        :items="fridges"
                        label="Frižider"
                        item-text="name"
                        item-value="fridge_id"
                        dense
                        v-on:change="selectFridge"
                        return-object
                    >
                    </v-select>
                    <v-row>
                        <v-col
                            class="col-md-6"
                            v-for="(pot, index) in fridgePots"
                            :key="pot.id"
                        >
                            <v-text-field
                                v-model="fridgePots[index].flavor"
                                v-bind:label="
                                    pot.esp_id +
                                    '-' +
                                    (pot.value == 1 ? 'gornja' : 'donja')
                                "
                                outlined
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn color="blue darken-1" text @click="dialog = false">
                        Close
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="saveFlavors">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import axios from "axios";
export default {
    props: {
        fridges: Array,
        fridgePots: Array,
    },

    data: function () {
        return {
            selectedFridge: {},
            dialog: false,
            alertShow: false,
            alertMessage: "poruka",
            alertType: "success",
        };
    },

    methods: {
        showAlert(message, type) {
            this.alertMessage = message;
            this.alertType = type;
            this.alertShow = true;
            setTimeout(() => {
                this.alertShow = false;
            }, 3000);
        },

        selectFridge: function (e) {
            this.selectedFridge = e;
            this.getFridgePots(e);
        },

        closeDialog() {
            console.log(this.fridgePots);
        },

        getFridgePots: function (e) {
            console.log(e);
            Inertia.visit("/chart", {
                only: ["fridgePots"],
                data: {
                    fridge_id: e.id,
                    first: false,
                },
                preserveState: true,
                onSuccess: (page) => {
                    console.log(this.fridgePots);
                },
            });
        },

        saveFlavors: function () {
            axios
                .put("/updateFridgePots", {
                    fridgePots: this.fridgePots,
                })
                .then((res) => {
                    if (res.data === "success") {
                        this.showAlert("Okusi izmjenjeni", "success");
                    } else {
                        this.showAlert("greška", "error");
                    }
                });
        },
    },
};
</script>
