<template>
  <div>
    <v-row class="justify-center">
      <v-col class="d-flex justify-center col-md-3">
        <v-select
          class="my-2 ma-5 mt-5"
          :items="fridges"
          label="Frižider"
          item-text="name"
          item-value="id"
          dense
          v-on:change="selectFridge"
        >
        </v-select>
      </v-col>
      <v-col class="d-flex justify-center col-md-3">
        <v-select
          class="my-2 ma-5 mt-5 mr-3"
          :items="potsData"
          label="Sladoled"
          item-text="flavor"
          item-value="id"
          v-model="selectedFlavors"
          v-on:change="flavorChanged"
          dense
          multiple
          return-object
        >
          <template v-slot:prepend-item>
            <v-list-item ripple @mousedown.prevent @click="toggle">
              <v-list-item-action>
                <v-icon> </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title> Select All </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2"></v-divider>
          </template>
        </v-select>
      </v-col>
      <v-col class="d-flex justify-center col-md-2">
        <v-datetime-picker
          label="Od"
          v-model="datetimeOd"
          dateFormat="dd.MM.yyyy"
          timeFormat="HH:mm:ss"
        >
          <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
          <v-icon slot="timeIcon">mdi-clock</v-icon>
        </v-datetime-picker>
      </v-col>
      <v-col class="d-flex justify-center col-md-2">
        <v-datetime-picker
          label="Do"
          v-model="datetime"
          dateFormat="dd.MM.yyyy"
          timeFormat="HH:mm:ss"
        >
          <v-icon slot="dateIcon">mdi-calendar-range</v-icon>
          <v-icon slot="timeIcon">mdi-clock</v-icon>
        </v-datetime-picker>
      </v-col>
      <v-col class="d-flex justify-center col-md-2 mt-5">
        <v-btn color="primary" v-on:click="getHistoryData" class="mr-3">
          Traži
        </v-btn>
        <scale-settings-modal
          :fridges="fridges"
          :fridgePots="fridgePots"
        ></scale-settings-modal>
      </v-col>
      <v-col class="d-flex justify-center col-md-2"> </v-col>
    </v-row>
    <v-card>
      <v-tabs v-model="tab">
        <v-tab>Trenutno stanje</v-tab>
        <v-tab> Graf </v-tab>
        <v-tab>Povijest</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <history-data-table :items="currentData"> </history-data-table>
            </v-card-text>
          </v-card> </v-tab-item
        ><v-tab-item>
          <v-card flat>
            <chart :seriesProp="series" :optionsProp="options"> </chart>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <history-data-table :items="dataTableData"> </history-data-table>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <!-- <chart :seriesProp="series" :optionsProp="options"></chart> -->
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import Chart from "./Chart.vue";
import Layout from "./aroma/Layout";
import ScaleSettingsModal from "./ScaleSettingsModal.vue";
import moment from "moment";

export default {
  layout: Layout,
  components: { Chart, ScaleSettingsModal },
  data: function () {
    return {
      series: [],
      options: {
        chart: {
          id: "vuechart-example",
        },
        xaxis: {
          type: "datetime",
          labels: {
            datetimeUTC: true,
            format: "dd.MM.yyyy hh:mm:ss",
          },
        },
      },
      checked: [],
      selectedFridge: {},
      tab: null,
      datetime: null,
      dataTableData: [],
      selectedFlavors: [],
    };
  },

  created() {
    this.selectedFlavors = [0.1, 0.2];
    console.log(this.selectedFlavors);
  },

  props: {
    potsHistoryData: Array,
    potsData: Array,
    fridges: Array,
    fridgePots: Array,
    currentData: Array,
  },
  computed: {
    likesAllFruit: function () {
      return this.selectedFlavors.length === this.potsData.length;
    },
    likesSomeFruit() {
      return this.selectedFlavors.length > 0 && !this.likesAllFruit;
    },
  },

  methods: {
    getPotsData: function (e) {
      Inertia.reload({
        only: ["potsData", "currentData"],
        data: { fridge_id: e, first: false },
        onSuccess: (page) => {
          //console.log(this.potsData);
        },
      });
    },

    flavorChanged: function (e) {
      this.selectedFlavors = e;
    },

    selectFridge: function (e) {
      this.selectedFridge = e;
      this.getPotsData(e);
    },

    getHistoryData: function (e) {
      Inertia.visit("/chart", {
        only: ["potsHistoryData", "currentData"],
        data: {
          flavors: this.selectedFlavors.map((pot) => {
            return pot.id;
          }),
          datetime: this.datetime,
          datetimeOd: this.datetimeOd,
          first: false,
          fridge_id: this.selectedFridge,
        },
        preserveState: true,
        onSuccess: (page) => {
          console.log(this.potsHistoryData);
          this.series = [];
          this.createSeries();
          this.seperateDataIntoSeries();
          console.log(this.currentData);
        },
      });
    },

    createSeries: function () {
      for (let potData of this.selectedFlavors) {
        console.log(potData.flavor);
        this.series.push({
          name: potData.flavor,
          pot: potData.id,
          data: [],
        });
      }
    },

    seperateDataIntoSeries: function () {
      for (let potData of this.potsHistoryData) {
        for (let serie of this.series) {
          if (typeof serie.pot != "undefined" && serie.pot == potData.pot_id) {
            let date = moment(
              potData.created_at,
              "DD.MM.YYYY HH:mm:ss",
              true
            ).add(2, "hours");
            serie.data.push([date, potData.weight]);
            potData.flavor = serie.name;
            break;
          }
        }
      }
      this.dataTableData = this.potsHistoryData;
    },
    toggle: function () {
      console.log(this.selectedFlavors);
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFlavors = [];
        } else {
          this.selectedFlavors = this.potsData.slice();
        }
      });
    },
  },
};
</script>
